
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* canvas color */
body {
  background-color: black;
}

/* background image */
#canvas {
  background-image: url("bg.jpg");
  height: 2240px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
}



/* image responsiveness */
@media screen and (max-width:600px) {
  .backgroundimage {
    background-size: cover;
  }
}

/* social media links top */
.SMlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100px;
  width: 400px;
  position: relative;
  left: 1200px;
  top: 7px;
  margin: 1px 1px;
  border-left-style: groove;
  border-left-width: 5px;
  border-left-color: white;
  opacity: 1;
}

/* margin on social media links icons */
i {
  margin: 5px;
}

/* subscribe div */
#subscribe {
  width: 200px;
  height: 70px;
  position: relative;
  left: 900px;
  top: 11px;
  position: absolute;
}

/* button div */
.buttons {
  height: 100px;
  width: 1200px;
  position: relative;
  left: 350px;
  display: flex;
  justify-content: space-evenly;
  top: 35px;
  margin: 0 1px;
}

button {
  background-color: red;
  color: white;
  border-bottom: solid 5px;
  width: 250px;
  height: 55px;
}
