
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* canvas color */
body {
  background-color: black;
}

/* background image */
#canvas {
  background-image: url("bg.jpg");
  height: 2240px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
}
.backgroundimage {
  height: auto;
}

/* image responsiveness */
@media screen and (max-width:600px) {
  .backgroundimage {
    background-size: cover;
  }
}

/* social media links top */
.SMlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100px;
  width: 400px;
  position: absolute;
  right: 200px;
  top: 7px;
  margin: 1px 1px;
  border-left-style: groove;
  border-left-width: 5px;
  border-left-color: white;
  opacity: 1;
}

/* margin on social media links icons */
i {
  margin: 5px;
}

#subscribe {
  width: 200px;
  height: 70px;
  position: relative;
  left: 1050px;
  top: 11px;
  position: absolute;

}
